<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        {% load static %}
        <!-- The line above tells Django to be ready to listen for static files -->
        <link rel="stylesheet" href="{% static 'login_registration/css/main.css' %}" media="screen" title="no title" charset="utf-8">
        <!-- Put the static files in the static folder inside your app.  Django collects files within all static folders and puts them within a single folder -->
    </head>

    <body>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li class="red">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        
        <h2>Dashboard</h2>
        <h2>Welcome, !</h2>
        <h3>Quotable Quotes</h3>

        <h3>Your Favorites</h3>
        
        <p>Contribute to a quote:</p>
        <form action="{% url 'lr:' %}" method='post'>
            {% csrf_token %}
            Quoted_by:
            <br>
            <input type="text" name="first_name" value="">
            <br> Message:
            <br>
            <input type="text" name="desc" value="">
            <br>
            <br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>